invalid host header should return 400 error

# Description
Flask (via Werkzeug) currently processes the Host header in a way that is not fully compliant with [RFC 7230 §5.4](https://datatracker.ietf.org/doc/html/rfc7230#section-5.4). When sending a malformed Host header, the behavior differs depending on whether the application accesses ```request.url```/```request.host``` or not:

**Accessing** request.url or request.host -> raises a ```500 Internal Server Error``` if the malformed part is the port number.

**Not accessing** them -> returns ```200 OK```

According to [RFC 7230 §5.4](https://datatracker.ietf.org/doc/html/rfc7230#section-5.4), a server must reject malformed Host headers with a 400 Bad Request, regardless of internal usage.

## Examples of invalid but accepted Host headers:
```Host: loc'alhost:5000```
```Host: localhost:5'000``` (when ```request.url``` or ```request.host``` is used: ```500 Internal Server Error```, else ```200 OK```)
```Host: local host```
```Host: \nlocalhost```

# Replication
## 1. Flask Server
```
from flask import Flask, request

app = Flask(__name__)

@app.route("/")
def index():
    # Accessing request.url can trigger a 500 Internal Server Error
    return request.url  

if __name__ == "__main__":
    app.run(host="localhost", port=5000)
```

## 2. Requests with curl
Run ```curl -v -H "Host: loc'alhost:5000" http://127.0.0.1:5000/``` and try out some of the header examples from above.

# Expected behavior
The server should respond with a ```400 Bad Request``` status code when the Host header is malformed. Instead it returned some other status codes.

# Conclusion
Flask does not meet the [RFC 7230 §5.4](https://datatracker.ietf.org/doc/html/rfc7230#section-5.4) standard when handling malformed ```Host``` headers. As a result it returns wrong status codes or throws erros when the port portion of the Host header contains non-numeric characters.


# Environment:

- Python version: 3.13.6 (tags/v3.13.6:4e66535, Aug  6 2025, 14:36:00) [MSC v.1944 64 bit (AMD64)]
- Flask version: 3.1.2
- Werkzeug 3.1.3

It still says the same thing, but please refer to the latest HTTP specs rather than obsoleted ones when reporting issues: https://httpwg.org/specs/rfc9112.html#request.target

I don't plan to add proactive validation, validation is only worth it if actually accessing the value. That said, I also don't think it's worth it to validate the domain. Validating that is complex, and relying on the value should only be done when `Request.trusted_hosts` is configured, which will already validate against known valid values.

I'm also not sure it's worth handling an invalid port error differently. The host header will only be invalid from deliberately crafted requests, not typical user requests, and I don't particularly care that they get a 500 instead of a 400 in that case. Also, it seems like validating the `Host` header should be the job of the server, not the app framework. It's unlikely that Python `http.server` would decide to handle that, since it's a dev server. But did you check and report this to Nginx, Apache HTTP, etc?