Support for relative URI location headers in responses

Currently, Werkzeug forces the URI used in a response header to be an absolute URI. In the BaseResponse `autocorrect_location_header` is set to `True` [here](https://github.com/pallets/werkzeug/blob/master/src/werkzeug/wrappers/base_response.py#L152). Later, in `BaseResponse.get_wsgi_headers` [here](https://github.com/pallets/werkzeug/blob/master/src/werkzeug/wrappers/base_response.py#L561), the fact that `autocorrect_location_header` is true, causes the Header, even if specified as a relative URI, to be converted to an absolute URI.

While absolute URIs used to be required by RFC 2616, this RFC has since been made obsolete in 2014 by ~~RFC 7230~~ RFC 7231, which allows for relative URIs. It seems like it would be valuable to allow for relative URIs going forward.

Is this something that Werkzeug would be interested in allowing? If so, I'd be happy to take some time to put together a PR for this.

What's the use case for specifying a relative header? The value must be relative to the request that generated the response, so making it absolute should never be incorrect. Werkzeug is doing extra things like making sure the correct subdomain, script root, and path are being used, otherwise a relative URL provided by the user might not go where they expect it.

I'm having some trouble interpreting RFC 7230 to find where it discusses allowing relative URLs in this header. I'm guessing it's saying that clients can accept relative values in the header and treat them like a relative path in an HTML link. It's not saying that servers should return relative instead of absolute URLs.

> The value must be relative to the request that generated the response, so making it absolute should never be incorrect.

This is correct. It is a valid (read: RFC-conformant) behavior to always return absolute headers. It is however also RFC-conformant to return relative headers for redirect responses. The point is not that what Werkzeug is currently doing is *wrong*, but rather that Werkzeug isn't supporting a useful feature that it is allowed to support.

> Werkzeug is doing extra things like making sure the correct subdomain, script root, and path are being used, otherwise a relative URL provided by the user might not go where they expect it.

In the event of relative URI in the response, an absolute URI is formed by the client by appending the original Host header to the relative URI it receives back. There should therefore be no issues with the URI going where the user expects.

As to why allowing relative headers would be helpful: the primary use case (at least in my experience; there may be others) is for CDNs. Many CDNs will not edit location headers like common web servers (nginx & apache) will. Therefore, without careful configuration at the web server level, location headers may make sense in relation to the CDN's request, but not in relation to the client's original request to the CDN. 

As an example a CDN may receive a request for `website.com/location1`, have a cache-miss, and make a request to `server1.website.com/location1`. If `server1.website.com/location1` is redirected to `server1.website.com/location2`, then an absolute location header will be set to `server1.website.com/location2` and the CDN will return this directly to the client, causing the client to bypass the CDN for all future results. If the server were to rewrite the host header to `website.com` for incoming requests, the generated response would now make sense in response to the client's request to the CDN, but it would no longer make sense in the context of the CDN's request to the webserver. Simply put, it is impossible to generate an absolute URI that makes sense to both the CDN and the original client since the Host header for these 2 requests are different.

While there may be other ways to sidestep this problem, relative location header URIs resolves this issue completely by allowing the location header to make sense both for the CDN and the client that made the original request. 

> I'm having some trouble interpreting RFC 7230 to find where it discusses allowing relative URLs in this header.

I just realized the reason you're having a hard time parsing is that I referenced the wrong RFC. I meant RFC 7231 (specifically [section 7.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.2)). I'll update the original comment, but leave this here as a clarification.

If you're putting a proxy such as CDN in front of your server, it should be setting `X-Forwarded-For` and related headers appropriately, and you should apply the `ProxyFix` middleware to your application. That way, the application treats the request as coming from/to the main domain, even though the CDN is actually choosing a subdomain instance to send it to.

Given that returning this appears to be optional, and the provided use case should be handled with `ProxyFix`, I'm going to close this.