Relative location headers are "fixed" as if they are relative to root instead of the current url

https://github.com/mitsuhiko/werkzeug/blob/542b2e95d4e39ed8f0ec186b88eb20ff70544168/werkzeug/wrappers.py#L1129

When the location header points to a relative address, werkzeug grabs the root of the url, which for example.com/a/b/c/d/e turns into example.com, and then adds the relative location on top, which doesn't turn out well.

Why not use the full url when correcting it? In my case if I get redirected from example.com/path/to/file to ../abc, I'd want to end up at example.com/path/abc instead of example.com/abc.


RFC 7231 changed the Location requirements, see [section 7.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.2):

> The field value consists of a single URI-reference.  When it has the
   form of a relative reference ([RFC3986], Section 4.2), the final
   value is computed by resolving it against the effective request URI
   ([RFC3986], Section 5).

As such, the location header does not **have** to be absolute anymore. Werkzeug may choose to remain conservative in this (and require you to set [`BaseResponse.autocorrect_location_header`](http://werkzeug.pocoo.org/docs/wrappers/#werkzeug.wrappers.BaseResponse.autocorrect_location_header) to `False` explicitly).

For reference, even after the PR, the header will still end up with an absolute path, it's just that relative URLs will be relative to the current path instead of the root path. If you actually want a relative URL in the header, disable `autocorrect_location_header`.

How can I still use the root url, instead of current path . Is it by setting up autocorrect_location_header  to flase ?  
